.cards-container{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    background-color: red;
    border-radius: 25px;
    padding: 120px;
    font-family: "Inria Sans", sans-serif;
}
